html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1400px;
}

.btn{
    font-family: myriad-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px; 
    padding: 12px 30px;
    border-radius: 6px;
    text-decoration: none;
}

.primary-btn{
    background-color: #769b97;
    color: #ffffff;
}

.secondary-btn{
    background-color: transparent;
    color: #769b97;
    border:  2px solid #769b97;
}

.third-btn{
    background-color: #181B1A;
    color: #ffffff;
}

.third-btn:hover{
    background-color: #181B1A;
    color: #769b97;
}

.fourth-btn{
    color: #769B97;
    border-bottom: 2px solid #769B97;
    padding: 0;
    border-radius: 0;
}

.fourth-btn:hover{
    color: #181B1A;
    border-bottom: 2px solid #181B1A;
    padding: 0;
    border-radius: 0;
}


/* Nav */
.navbar{
    border-bottom: 1px solid #E9EFEF;
    background: transparent;
    margin-bottom: -100px;
}

.navbar .navbar-nav .nav-link{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #181B1A;
    font-size: 18px;
    line-height: 1.44;
    transition: all 0.4s ease;
    margin-right: 60px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active{
    color: #769B97;
    border-bottom: 4px solid #769B97;
    text-decoration: none;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.44;
}
/* Nav */



/* Home */
#home{
    padding-top: 266px;
    padding-bottom: 266px;
    background: url(../images/header-bg-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#home h1{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #769B97;
    font-size: 18px;
    line-height: 4;
    letter-spacing: 1.8;
}

#home h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 72px;
    line-height: 1;
    letter-spacing: -1.44;
}

#home p{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #464847;
    font-size: 21px;
    line-height: 1.38;
    max-width: 75%;
}
/* Home */


/* About-Us */

#about-us{
    padding-top: 140px;
    padding-bottom: 40px;
}

#about-us img{
    border-radius: 10px;
    width: 100%;
}

#about-us .about-us-body{
    margin-left: 50px;
}

#about-us h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #769B97;
    font-size: 18px;
    line-height: 4;
    letter-spacing: -1.8;
}

#about-us h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -1.2;
}

#about-us p{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #464847;
    font-size: 21px;
    line-height: 1.42;
}
/* About-Us */



/* customer-service */
#customer-service{
    padding-top: 40px;
    padding-bottom: 140px;
}

#customer-service .service-box{
    max-width: 440px;
    background:#F1EFEA;
    border-radius: 8px;
    padding-top: 45px;
    padding-bottom: 44px;
    padding-right: 54px;
    padding-left: 40px;
}

#customer-service h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.48;
    max-width: 80%;
}
/* customer-service */



/* our-services */
#our-services{
    padding-top: 130px ;
    padding-bottom: 130px ;
    background: url(../images/our-services-bg-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#our-services h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #769B97;
    font-size: 18px;
    line-height: 4;
    letter-spacing: -1.8;
}

#our-services h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -1.2;
}

#our-services .service-box {
   padding-top: 60px;
   padding-bottom: 60px;
   padding-left: 100px;
   padding-right: 100px;
   max-width: 560px;
   background: #ffffff;
   border-radius: 10px;
}

#our-services .service-box:hover {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 560px;
    background: #769B97;
    border-radius: 10px;
    cursor: pointer;
}

#our-services img{
    width: 100%;
    border-radius: 100%;
    border: 1px solid #F1EFEA;
    padding: 20px;
    object-fit: cover;
}

#our-services h5{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: -0.72;
}

#our-services p{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #464847;
    font-size: 18px;
    line-height: 1.44;
}
/* our-services */

/* work */
#work{
    padding-top: 140px ;
    padding-bottom: 140px ;
}

#work h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #769B97;
    font-size: 18px;
    line-height: 4;
    letter-spacing: -1.8;
}

#work h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -1.2;
}

#work h5{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: -0.72;
}

#work p{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #464847;
    font-size: 18px;
    line-height: 1.44;
    padding: 0 70px;
    margin: auto;
}
/* work */


/* cta */
#cta{
    padding-top: 80px ;
    padding-bottom: 80px ;
    background: url(../images/call-to-action-bg-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#cta h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 4;
    letter-spacing: -1.8;
}

#cta h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -1.2;
}
/* cta */



/* testimonial */
#testimonial{
    padding-top: 140px ;
    padding-bottom: 140px ;
}

#testimonial h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #769B97;
    font-size: 18px;
    line-height: 4;
    letter-spacing: -1.8;
}

#testimonial h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -1.2;
    padding: 0 20%;
    margin: auto;
}

#testimonial p{
    font-family: myriad-pro, sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #464847;
    font-size: 30px;
    line-height: 1.26;
    padding: 0 15%;
    margin: auto;
}

#testimonial h5{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.48;
}

#testimonial .testimonial-image img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}
/* testimonial */



/* do-it */
#do-it{
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(../images/why-do-it-bg-image.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

#do-it h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #769B97;
    font-size: 18px;
    line-height: 4;
    letter-spacing: -1.8;
}

#do-it h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -1.2;
}

#do-it h5{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: -0.6;
}

#do-it p{
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #464847;
    font-size: 18px;
    line-height: 1.44;
    max-width: 88%;
}
/* do-it */


/* blog */
#blog{
    padding-top: 140px;
    padding-bottom: 140px;
}

#blog h6{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #769B97;
    font-size: 18px;
    line-height: 4;
    letter-spacing: -1.8;
}

#blog h2{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -1.2;
}

#blog .blog-card{
    border: none;
    background-color: #F1EFEA;
    border-radius: 6px;
}

#blog .blog-card-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

#blog .blog-card-text p{
    font-family: myriad-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #464847;
    font-size: 16px;
    line-height: 1.625;
}

#blog .blog-card-heading h5{
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #181B1A;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.48;
}
/* blog */